/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background: rgb(87, 87, 87);
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.gridContainer{
     /* width: 80%; */
     padding: 2rem;
     /* flex styles */
     display: flex;
     align-items: center;
     justify-content: center;
     /* border: 1px solid black; */
     min-height: 100vh;
}

.container{
     /* border: 1px solid red; */
     /* padding: 2rem; */
}
.gridDiv{
     background: rgba(0, 0, 0, 0.39);
     border: 1px solid black;
    
     height: 5vh;
     width: 5vw;
     
}
.gridDiv:hover{
     background: rgba(212, 55, 55, 0.257);
}

/******************************************
/* ANIMATION STYLES
/*******************************************/

